 <section id="top-bar" class="p-3">
  <footer id="main-footer" class="py-4 bg-primary text-white text-center">
      <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     </p>
            </div>
            <div class="col-md-4">
                <i class=""></i> (226)-350-8797
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class=""></i> contactus@realestate.co
            </div>
            <br>
        </div>
      </div>
    Copyright &copy;
    <span class="year"></span> Real Estate Application
  </footer>
</section>