{%load static%}

<section id="top-bar" class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    For any queries, please reach out to us: </p>
            </div>
            <div class="col-md-4">
                <i class=""></i> (226)-350-8797
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class=""></i> contactus@realestate.co
            </div>

           <div class="col-md-4">
                <div class="social text-right">
                    <a href="#">
                        <i class=""></i>
                    </a>
                    <a href="#">
                        <i class=""></i>
                    </a>
                    <a href="#">
                        <i class=""></i>
                    </a>
                    <a href="#">
                        <i class=""></i>
                    </a>
                    <a href="#">
                        <i class=""></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>